# Performing Text Analysis
                                                                                             V Hari Priya Subramanya Lalitha
                                                                                                       2021MSBDA043

In [1]:
import docx

In [2]:
from docx import Document

In [3]:
# counting the occurance of words in documents and replacing colon, comma etc.
from collections import Counter
def count_words(x,freq):
    skip=[".",", ",":",";","'",'"',]

    for ch in skip:
        #x=x.replace(ch,"")
        x=list(map(lambda x: x.replace(ch,""),x))
    count={}
    for ele in x:
        if ele in count:
            count[ele]+=1
        else:
            count[ele]=1
    freqx=[]    
    for ele in freq:      
        if ele in count:
            freqx1=count[ele]
        else:
            freqx1=0
        freqx.append(freqx1)    
    return freqx

#reading the document and replacing some special characters with none.
def read_doc(r_d):
    doc=docx.Document(r_d)  
    list1=[]
    for p in doc.paragraphs:
        list1.append(p.text)

    a=str("\n".join(list1)) 

    a=a.lower()
    a=a.replace(u'\xa0',' ')
    a=a.replace(u'\n','')
    a=a.replace(u', ',' ')
    a=a.replace(u'(','')
    a=a.replace(u')','')

    y=a.split(" ")
    return y

In [4]:
# words to be searched
searc_word=["grow","pollen","prey","animal","plant","size"]

In [5]:
k=read_doc("D0.docx")
r1=count_words(k,searc_word)
print(r1)

[0, 5, 0, 0, 2, 0]

In [6]:
l=read_doc("D1.docx")
r2=count_words(l,searc_word)
print(r2)

[0, 1, 0, 0, 4, 2]

In [7]:
o=read_doc("D2.docx")
r3=count_words(o,searc_word)
print(r3)

[0, 0, 0, 0, 4, 2]

In [8]:
q1=read_doc("D3.docx")
r4=count_words(q1,searc_word)
print(r4)

[0, 0, 0, 2, 0, 1]

In [9]:
q2=read_doc("D4.docx")
r5=count_words(q2,searc_word)
print(r5)

[1, 0, 1, 2, 0, 1]

In [10]:
q3=read_doc("D5.docx")
r6=count_words(q3,searc_word)
print(r6)

[0, 0, 1, 6, 0, 0]

In [11]:
searc_word

['grow', 'pollen', 'prey', 'animal', 'plant', 'size']

## Performing Naive Bayes classtification on two classes namely flowers and animals

In [12]:
import pandas as pd

In [13]:
data=pd.read_excel("C:\\Users\\vadda\\OneDrive\\Desktop\\MSc Big Data\\text_analysis_data.xlsx",
                   )

In [14]:
data.index=['D0','D1','D2','D3','D4','D5']

In [15]:
data

    grow  pollen  prey  animal  plant  size    class
D0     0       5     0       2      2     0  Flowers
D1     0       1     0       0      4     2  Flowers
D2     0       0     0       2      4     2  Flowers
D3     0       0     0       0      0     1  Animals
D4     1       0     1       0      0     1  Animals
D5     0       0     1       2      0     0  Animals

In [16]:
#for calculating sum of all instances present in Flowers class
sum_flowers=0
for i in range(0,3):
    for j in range(0,6):
        sum_flowers=sum_flowers+data.iloc[i,j]
        
#for calculating sum of all instances present in Animals class
sum_animals=0
for i in range(3,6):
    for j in range(0,6):
        sum_animals=sum_animals+data.iloc[i,j]
        
print("sum of all instaces in flowers class =",sum_flowers)
print("sum of all instances in animals class=",sum_animals)

sum of all instaces in flowers class = 24
sum of all instances in animals class= 7

In [17]:
data

    grow  pollen  prey  animal  plant  size    class
D0     0       5     0       2      2     0  Flowers
D1     0       1     0       0      4     2  Flowers
D2     0       0     0       2      4     2  Flowers
D3     0       0     0       0      0     1  Animals
D4     1       0     1       0      0     1  Animals
D5     0       0     1       2      0     0  Animals

In [18]:
sum_flo=0
sum_ani=0
for j in range(0,6):
    for i in range(0,3):
        sum_flo=sum_flo+data.iloc[i,j]
   
    for k in range(3,6):
        sum_ani=sum_ani+data.iloc[k,j]
       
    if (sum_flo==0 or sum_ani==0):
            print("We encountered a zero frequency problem in table")
            print("So, please resolve the zero frequency problem")
            break

We encountered a zero frequency problem in table
So, please resolve the zero frequency problem

## Laplace smoothing for solving the zero frequency problem

In [19]:
n,m=data.shape

In [20]:
print("Number of rows in data frame =",n)
print("Number of columns in data frame =",m)
nc=m-1
print(nc)

Number of rows in data frame = 6
Number of columns in data frame = 7
6

In [21]:
# applying laplace smoothing for the occurances in the table
x=[]
y=[]
for j in range(0,6):
    prob_flow=0
    prob_ani=0
    for i in range(0,3):
        prob_flow= prob_flow+data.iloc[i,j]
        prob_flow_smoo=round(((prob_flow+(nc*1/nc))/(sum_flowers+nc)),4)
    x.append(prob_flow_smoo)
    for k in range(3,6):
        prob_ani= prob_flow+data.iloc[k,j]
        prob_ani_smoo=round(((prob_ani+(nc*1/nc))/(sum_animals+nc)),4)
    y.append(prob_ani_smoo)
    print(" ")
    print("probability(",searc_word[j],"/flowers) is",prob_flow_smoo)
    print(" ")
    print("probability(",searc_word[j],"/animals) is",prob_ani_smoo)
    print(" ")
print(x)
print(y)

probability( grow /flowers) is 0.0333

probability( grow /animals) is 0.0769


probability( pollen /flowers) is 0.2333

probability( pollen /animals) is 0.5385


probability( prey /flowers) is 0.0333

probability( prey /animals) is 0.1538


probability( animal /flowers) is 0.1667

probability( animal /animals) is 0.5385


probability( plant /flowers) is 0.3667

probability( plant /animals) is 0.8462


probability( size /flowers) is 0.1667

probability( size /animals) is 0.3846

[0.0333, 0.2333, 0.0333, 0.1667, 0.3667, 0.1667]
[0.0769, 0.5385, 0.1538, 0.5385, 0.8462, 0.3846]

## Classifying a text document

In [22]:
df=pd.read_excel("C:\\Users\\vadda\\OneDrive\\Desktop\\MSc Big Data\\test.xlsx")

In [23]:
df.index=['DTest']

In [24]:
df

       grow  pollen  prey  animal  plant  size
DTest     5       2     7       5      3     7

In [25]:
#calculating posterior probability
#     p(c/w)=p(c)*âˆ‘p(wj/c) , j=1 to 2 for a two class problem

In [26]:
g=df.iloc[0]

In [27]:
g

grow      5
pollen    2
prey      7
animal    5
plant     3
size      7
Name: DTest, dtype: int64

In [28]:
import numpy as np

In [29]:
# calculating posterior probability for flowers class
p_flowers_by_w=round(np.log10(0.5),4)
print(p_flowers_by_w)
for i in range(0,6):
    j=round(np.log10(x[i]**g[i]),4)
    print(j)
    p_flowers_by_w=p_flowers_by_w+j
print("Final posterior probability p(flowers/w)",p_flowers_by_w)

-0.301
-7.3878
-1.2642
-10.3429
-3.8903
-1.3071
-5.4465
Final posterior probability p(flowers/w) -29.9398

In [30]:
#calculating posterior probability for animals class
p_animals_by_w=round(np.log10(0.5),4)
for i in range(0,6):
    k=round(np.log10(y[i]**g[i]),4)
    p_animals_by_w=p_animals_by_w+k
print("Final posterior probability p(animals/w)",p_animals_by_w)

Final posterior probability p(animals/w) -16.5669

In [31]:
if(p_flowers_by_w>p_animals_by_w):
    print("The document DTest belongs to flowers class")
else:
    print("The document Dtest belongs to animals class")

The document Dtest belongs to animals class